.paginationWrapper {
    margin-top: 30px;
    padding: 0 10px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

button {
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #474955;

}


.list {
    cursor: pointer;
    color: #474955;
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    line-height: 25px;

}

.list:not(:last-child) {
    margin-right: 4px;
}

.active {
    background-image: linear-gradient(0deg, #7EBC3C, #7EBC3C);
    background-clip: text;
    color: transparent;

}

.end {
    opacity: 0.5;
}